.pretty-preview-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  user-select: none;

  .pretty-preview-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
  }

  .pretty-preview-body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    .pretty-preview-canvas {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      white-space: nowrap;
      transition: transform ease .15s;

      .pretty-preview-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        transform-origin: center center;

        .pretty-perview-img {
          cursor: grab;
          transition: transform ease .15s;
        }
      }
    }

    .pretty-preview-operations {
      display: inline-flex;
      position: absolute;
      left: 50%;
      bottom: 16px;
      height: 44px;
      padding: 0 8px;
      border-radius: 22px;
      background-color: rgba(0,0,0,.2);
      transform: translateX(-50%);

      .pretty-preview-scale-percent {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        color: #fff;
      }
    }

    .pretty-preview-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      fill: #fff;
      cursor: pointer;

      &.pretty-preview-btn-disabled {
        fill: #ddd;
        cursor: not-allowed;
      }

      &:hover {
        fill: #0099ff;
      }

      &.pretty-preview-btn-close {
        position: absolute;
        right: 16px;
        top: 16px;
        border-radius: 50%;
        background-color: rgba(0,0,0,.2);
      }

      &.pretty-preview-btn-switch-left,
      &.pretty-preview-btn-switch-right {
        position: absolute;
        top: 50%;
        border-radius: 50%;
        background-color: rgba(0,0,0,.2);
        transform: translateY(-50%);

        &.pretty-preview-btn-switch-disabled {
          cursor: not-allowed;
          background-color: rgba(0,0,0,.1);
          fill: #ccc;

          &:hover {
            fill: #ccc;
          }
        }
      }

      &.pretty-preview-btn-switch-left {
        left: 16px;
      }

      &.pretty-preview-btn-switch-right {
        right: 16px;
      }
    }
  }

  .pretty-preview-nav-canvas-wrapper {
    position: absolute;
    right: 60px;
    bottom: 60px;
    outline: 1px solid #f1f1f1;
    visibility: hidden;

    .pretty-preview-nav-canvas-bg {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 100%;
      background-position: 0 0;
      background-repeat: no-repeat;
      transform-origin: center center;
    }

    .pretty-preview-nav-canvas {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
